<%- include("../layouts/header") %>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <%- include("../layouts/sidebar") %>


        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <%- include("../layouts/navbar") %>

                <div class="container-fluid">
                    <h1 class="font-weight-bold text-primary">បញ្ជីមុខទំនេញ</h1>
                    <br>
                    <a href="/import-product" class="btn btn-sm btn-primary"> Add more product</a>
                    <br><br>
                    <!-- ============== Table             -->

                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">List all Products</h6>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>No</th>
                                            <th>Name</th>
                                            <th>Category</th>
                                            <th>Date</th>
                                            <th>Supplier</th>
                                            <th>Code</th>
                                            <th>Import Price</span></th>
                                            <th>Import Qty</th>
                                            <th>Sale Price</th>
                                            <th>Stock </th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% let n = 1 %> 
                                        <% products.forEach(pro => { %>
                                         <tr>
                                            <td class="text-center"><%= n %></td>
                                            <td><a href="/view-product/<%= pro._id %> "><%= pro.name %></a></td>
                                            <td><%= pro.category.substr(0,10) %></td>
                                            <td><%= pro.date.substr(0,25) %></td>
                                            <td><%= pro.supplier %></td>
                                            <td><%= pro.code %></td>
                                            <td><%= pro.import_price %></td>
                                            <td><%= pro.import_qty %></td>
                                            <td><%= pro.sale_price %></td>
                                            <td><%= pro.stock_qty %></td>
                                            <th class="float-right"><a class="btn btn-sm btn-success" href="/edit-product/<%= pro._id %>"><i class="fas fa-edit"></i></a> 
                                                <% if (pro.stock_qty==0) { %>
                                                 <a class="btn btn-sm btn-danger" href=""><i class="fas fa-trash-alt"></i></a>
                                                <% } %>
                                                </td>
                                        </tr>
                                        
                                        <% n++; }) %>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

             
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <%- include("../layouts/copyright") %>


        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <%- include("../layouts/buttom") %>

    <%- include("../layouts/footer") %>

</body>

</html>